{% extends 'app/base.html'%}

{% block content%}
<main>
  <h1 class="mb-0">Hi, I'm Mohamed El Hadi Boukhatem</h1>
  <div class="mb-5">
    <p class="lead mb-3">Backend Developer &amp; Data Science Enthusiast</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, magnam aut animi, excepturi voluptatum placeat dolor accusantium atque iure! Animi architecto eveniet voluptatum illo ut maiores sed, autem pariatur culpa?</p>
    <p>Commodi, neque debitis atque cum quod, culpa repellendus voluptatum voluptatem, molestiae dicta laborum nulla corporis illum, ratione rerum quibusdam ea optio! Consectetur obcaecati facilis esse reprehenderit ipsam, facere dolorem incidunt.</p>
  </div>
  <p>
    <div class="row">
      <div class="col-md-12">
        <input type="submit" class="btn btn-primary btn-block" value="Download My Resume">
      </div>
    </div>
  </p>


        
        
        
</main>
{%endblock %}